#jinja2: lstrip_blocks: True
# the address to bind our web server to (default "localhost")
MAILROOM_ADDRESS={{fullinstancename_mailroom}}

# the domain that mailroom is listening on
MAILROOM_DOMAIN={{fullinstancename_mailroom}}

# the token clients will need to authenticate web requests (should match setting in RapidPro)
MAILROOM_AUTH_TOKEN={{ credentials.secret_key }}

# the domain that will be used for relative attachments in flows
#MAILROOM_ATTACHMENT_DOMAIN=

# URL describing how to connect to the RapidPro database (default "postgres://temba:temba@localhost/temba?sslmode=disable")
MAILROOM_DB=postgres://{{ credentials.postgres_user }}:{{ credentials.postgres_password }}@{{fullinstancename_db}}/{{ credentials.postgres_dbname }}?sslmode=disable

# URL describing how to connect to Redis (default "redis://localhost:6379/15")
MAILROOM_REDIS=redis://{{fullinstancename_redis}}:6379/15

# URL describing how to connect to ElasticSearch (default "http://localhost:9200")
MAILROOM_ELASTIC=http://{{fullinstancename_elasticsearch}}:9200

# the smtp configuration for sending emails ex: smtp://user%40password@server:port/?from=foo%40gmail.com 
# For writing of message attachments, Mailroom needs access to an S3 bucket, you can configure access to your bucket via:
#MAILROOM_SMTP_SERVER= 

# The region for your S3 bucket (ex: eu-west-1)
#MAILROOM_S3_REGION= 

# The name of your S3 bucket (ex: dl-mailroom)
#MAILROOM_S3_MEDIA_BUCKET= 

# The prefix to use for filenames of attachments added to your bucket (ex: attachments)
#MAILROOM_S3_MEDIA_PREFIX= 

# The AWS access key id used to authenticate to AWS
#MAILROOM_AWS_ACCESS_KEY_ID= 

# The AWS secret access key used to authenticate to AWS While still in beta, Mailroom will move to writing session data to S3 in 6.6, you can configure those buckets using:
#MAILROOM_AWS_SECRET_ACCESS_KEY= 

# The name of your S3 bucket (ex: rp-sessions)
#MAILROOM_S3_SESSION_BUCKET= 

# The prefix to use for filenames of sessions added to your bucket (ex: ``) Recommended settings for error and performance monitoring:
#MAILROOM_S3_SESSION_PREFIX= 

# The username to use for logging of events to Librato
#MAILROOM_LIBRATO_USERNAME= 

# The token to use for logging of events to Librato
#MAILROOM_LIBRATO_TOKEN= 

# The DSN to use when logging errors to Sentry
#MAILROOM_SENTRY_DSN= 

# the logging level mailroom should use (default "error", use "debug" for more)
MAILROOM_LOG_LEVEL=error