#jinja2: lstrip_blocks: True
# whether we should archive messages (default true)
ARCHIVER_ARCHIVE_MESSAGES=true

# whether we should archive runs (default true)
ARCHIVER_ARCHIVE_RUNS=true

# the access key id to use when authenticating S3 (default "missing_aws_access_key_id")
#ARCHIVER_AWS_ACCESS_KEY_ID=

# the secret access key id to use when authenticating S3 (default "missing_aws_secret_access_key")
#ARCHIVER_AWS_SECRET_ACCESS_KEY=

# the connection string for our database (default "postgres://localhost/archiver_test?sslmode=disable")
ARCHIVER_DB=postgres://{{ credentials.postgres_user }}:{{ credentials.postgres_password }}@{{fullinstancename_db}}/{{ credentials.postgres_dbname }}?sslmode=disable

# whether to delete messages and runs from the db after archival (default false)
ARCHIVER_DELETE=false

# whether we should keep local archive files after upload (default false)
ARCHIVER_KEEP_FILES=false

# the log level, one of error, warn, info, debug (default "info")
ARCHIVER_LOG_LEVEL=info

# the number of days to keep before archiving (default 90)
ARCHIVER_RETENTION_PERIOD=90

# the S3 bucket we will write archives to (default "dl-archiver-test")
#ARCHIVER_S3_BUCKET=''

# whether we disable SSL when accessing S3. Should always be set to False unless you're hosting an S3 compatible service within a secure internal network
ARCHIVER_S3_DISABLE_SSL=False

# the S3 endpoint we will write archives to (default "https://s3.amazonaws.com")
#ARCHIVER_S3_ENDPOINT=''

# whether we force S3 path style. Should generally need to default to False unless you're hosting an S3 compatible service
#ARCHIVER_S3_FORCE_PATH_STYLE=False

# the S3 region we will write archives to (default "us-east-1")
#ARCHIVER_S3_REGION=''

# the sentry configuration to log errors to, if any
#ARCHIVER_SENTRY_DSN=''

# directory where temporary archive files are written (default "/tmp")
ARCHIVER_TEMP_DIR=/tmp

# whether we should upload archive to S3 (default true)
ARCHIVER_UPLOAD_TO_S3=False