#jinja2: lstrip_blocks: True
DATABASE_URL=postgres://{{ credentials.postgres_user }}:{{ credentials.postgres_password }}@{{fullinstancename_db}}/{{ credentials.postgres_dbname }}?sslmode=disable
SECRET_KEY={{ credentials.secret_key }}
REDIS_HOST={{fullinstancename_redis}}
REDIS_PORT=6379
CELERY_RESULT_BACKEND=redis://{{fullinstancename_redis}}:6379/15
CELERY_BROKER_URL=redis://{{fullinstancename_redis}}:6379/15
ELASTICSEARCH_URL=http://{{fullinstancename_elasticsearch}}:9200