#jinja2: lstrip_blocks: True
# Whether to remove old indexes after a rebuild
INDEXER_CLEANUP=true

# The connection string for our database (default "postgres://localhost/rapidpro?sslmode=disable")
INDEXER_DB=postgres://{{ credentials.postgres_user }}:{{ credentials.postgres_password }}@{{fullinstancename_db}}/{{ credentials.postgres_dbname }}?sslmode=disable

# The url for our elastic search instance (default "http://localhost:9200")
INDEXER_ELASTIC_URL=http://{{fullinstancename_elasticsearch}}:9200

# The alias for our contact index (default "contacts")
INDEXER_INDEX=contacts

# The log level, one of error, warn, info, debug (default "info")
INDEXER_LOG_LEVEL=info

# The number of seconds to wait between checking for updated contacts (default 5)
INDEXER_POLL=5

# Whether to rebuild the index, swapping it when complete, then exiting (default false)
INDEXER_REBUILD=false

# The sentry configuration to log errors to, if any
#INDEXER_SENTRY_DSN=