#jinja2: lstrip_blocks: True
ALLOWED_HOSTS=localhost;{{ domains|join(';') }}
DOMAIN_NAME={{ domains|first }}
IP_ADDRESSES="172.16.10.10", "10.0.0.2"  # [TO UPDATE] These are the externally accessible IP addresses of the servers running RapidPro. Needed for channel types that authenticate by whitelisting public IPs. You need to change these to real addresses to work with these.
IS_PROD=on
SECRET_KEY={{ credentials.secret_key }}
TEMBA_HOST=localhost

#DEPRECATED - But we still use it in the startup.sh file
DATABASE_URL=postgres://{{ credentials.postgres_user }}:{{ credentials.postgres_password }}@{{fullinstancename_db}}/{{ credentials.postgres_dbname }}?sslmode=disable
DATABASE_HOST={{fullinstancename_db}}
DATABASE_PORT=5432
DATABASE_USER={{ credentials.postgres_user }}
DATABASE_PASSWORD={{ credentials.postgres_password }}
DATABASE_NAME={{ credentials.postgres_dbname }}

ELASTICSEARCH_URL=http://{{fullinstancename_elasticsearch}}:9200
MAILROOM_AUTH_TOKEN={{ credentials.secret_key }}
MAILROOM_URL=http://{{fullinstancename_mailroom}}:8090
REDIS_HOST={{fullinstancename_redis}}
REDIS_PORT=6379

# For flow attachments
STORAGE_URL="http://{{ domains|first }}/media"

SEND_AIRTIME=False
SEND_CALLS=True
SEND_EMAILS=True
SEND_MESSAGES=True
SEND_RECEIPTS=True
SEND_WEBHOOKS=True
SEND_WEBHOOKS=True

CELERY_BROKER_URL=redis://{{fullinstancename_redis}}:6379/15
CELERY_RESULT_BACKEND=redis://{{fullinstancename_redis}}:6379/15