#jinja2: lstrip_blocks: True

COURIER_DOMAIN=localhost
COURIER_SPOOL_DIR=/tmp/courier/
COURIER_DB=postgres://{{ credentials.postgres_user }}:{{ credentials.postgres_password }}@{{fullinstancename_db}}/{{ credentials.postgres_dbname }}?sslmode=disable
COURIER_REDIS=redis://{{fullinstancename_redis}}:6379/15