#jinja2: lstrip_blocks: True
COURIER_ADDRESS="0.0.0.0"
COURIER_DOMAIN={{ domains|first }}
COURIER_SPOOL_DIR=/tmp/courier/
COURIER_DB=postgres://{{ credentials.postgres_user }}:{{ credentials.postgres_password }}@{{fullinstancename_db}}/{{ credentials.postgres_dbname }}?sslmode=disable
COURIER_REDIS=redis://{{fullinstancename_redis}}:6379/15

# -----------------------------------------------------------------------------------
#    1. Create an Facebook app on https://developers.facebook.com/apps/
#    2. Copy the Facebook Application ID
#    3. From Settings > Basic, show and copy the Facebook Application Secret
#    4. Generate a Random Secret to use as Facebook Webhook Secret as described
#       on https://developers.facebook.com/docs/messenger-platform/webhook#setup
# -----------------------------------------------------------------------------------
#COURIER_FACEBOOK_APPLICATION_ID=
#COURIER_FACEBOOK_APPLICATION_SECRET=""
# GIVE Your own Webhook secret you will use in your Facebook web app
#COURIER_FACEBOOK_WEBHOOK_SECRET=""


COURIER_LOG_LEVEL=info