#jinja2: lstrip_blocks: True
ALLOWED_HOSTS=localhost;{{ domains|join(';') }}
DOMAIN_NAME={{ domains|first }}
IP_ADDRESSES="172.16.10.10", "10.0.0.2"  # [TO UPDATE] These are the externally accessible IP addresses of the servers running RapidPro. Needed for channel types that authenticate by whitelisting public IPs. You need to change these to real addresses to work with these.
IS_PROD=on
LANGUAGE_CODE="en-us"
DEFAULT_LANGUAGE="en-us"
SECRET_KEY={{ credentials.secret_key }}
TEMBA_HOST=localhost

#DEPRECATED - But we still use it in the startup.sh file
DATABASE_URL=postgres://{{ credentials.postgres_user }}:{{ credentials.postgres_password }}@{{fullinstancename_db}}/{{ credentials.postgres_dbname }}?sslmode=disable
DATABASE_HOST={{fullinstancename_db}}
DATABASE_PORT=5432
DATABASE_USER={{ credentials.postgres_user }}
DATABASE_PASSWORD={{ credentials.postgres_password }}
DATABASE_NAME={{ credentials.postgres_dbname }}

ELASTICSEARCH_URL=http://{{fullinstancename_elasticsearch}}:9200
MAILROOM_AUTH_TOKEN={{ credentials.secret_key }}
MAILROOM_URL=http://{{fullinstancename_mailroom}}:8090
REDIS_HOST={{fullinstancename_redis}}
REDIS_PORT=6379

# For flow attachments
STORAGE_URL="http://{{ domains|first }}/media"

SEND_AIRTIME=False
SEND_CALLS=True
SEND_EMAILS=True
SEND_MESSAGES=True
SEND_RECEIPTS=True
SEND_WEBHOOKS=True
SEND_WEBHOOKS=True

CLEAR_COMPRESSOR_CACHE=on
COMPRESS_ENABLED = True
COMPRESS_OFFLINE = True
MANAGEPY_COLLECTSTATIC=on
MANAGEPY_COMPRESS=on
MANAGEPY_IMPORT_GEOJSON=off # Not set by default, set to on to activate. Requires the OSM_RELATION_IDS environment variable to be set.
MANAGEPY_INIT_DB=on
MANAGEPY_MIGRATE=on

# -----------------------------------------------------------------------------------
#    1. Create an Facebook app on https://developers.facebook.com/apps/
#    2. Copy the Facebook Application ID
#    3. From Settings > Basic, show and copy the Facebook Application Secret
#    4. Generate a Random Secret to use as Facebook Webhook Secret as described
#       on https://developers.facebook.com/docs/messenger-platform/webhook#setup
# -----------------------------------------------------------------------------------
#FACEBOOK_APPLICATION_ID=""
#FACEBOOK_APPLICATION_SECRET=""
#FACEBOOK_WEBHOOK_SECRET=""

#TWITTER_API_KEY=""
#TWITTER_API_SECRET=""

#INTERCOM_APP_ID=""
#INTERCOM_TOKEN=""
#GOOGLE_TRACKING_ID=""
#LIBRATO_USER=""
#LIBRATO_TOKEN=""
#MAILGUN_API_KEY=""
#ZENDESK_CLIENT_ID=""
#ZENDESK_CLIENT_SECRET=""

#AWS_ACCESS_KEY_ID= "aws_access_key_id"
#AWS_SECRET_ACCESS_KEY="aws_secret_access_key"
#AWS_DEFAULT_ACL="private"
#AWS_STORAGE_BUCKET_NAME="dl-temba-io"
#AWS_BUCKET_DOMAIN="dl-temba-io.s3.amazonaws.com"
#ARCHIVE_BUCKET="dl-temba-archives"


# Defaults to 1
UWSGI_MASTER=1
# Defaults to 8
UWSGI_WORKERS=4
# Defaults to 20
UWSGI_HARAKIRI=10

# The URL for Mage, defaults to http://localhost:8026/api/v1
# MAGE_API_URL=http://localhost:8026/api/v1

# The DSN for Sentry
#RAVEN_DSN=
# The urlconf to use, defaults to temba.urls.
#ROOT_URLCONF=
# Any extra apps to be appended to INSTALLED_APPS.
#EXTRA_INSTALLED_APPS=