#jinja2: lstrip_blocks: True
# Stopping service {{ instancename }}

server {
    listen 80;
    listen [::]:80 ipv6only=on;
    listen 443 ssl http2;
    server_name localhost {{ domains|join(' ') }};
    root  /var/www/html/;

    location / {
        return 503;
    }

    error_page 503 @stop;
    location @stop {
        rewrite ^(.*)$ /stopped.html break;
    }
}